@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');
* {
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: 'Dosis', sans-serif;
	text-align: center;
}
.image {
	background: url(https://images.unsplash.com/photo-1481608726045-7407244fb7b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&fit=crop&w=900&q=80)
		no-repeat center;
	background-size: cover;
	height: 91vh;
	width: 100%;
	background-attachment: fixed;
	background-position: top;
}
.text-logo {
	height: 50px;
	padding-top: 15px;
	background-color: black;
	color: white;
	box-shadow: 0px 0px 10px black;
}
.items {
	margin-top: 20px;
}
@media only screen and (max-width: 900px) {
	body {
		width: 100%;
	}
}
